<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sync-dstime.ZPM">
    <Module>
      <Name>sync-dstime</Name>
      <Version>1.0.3</Version>
      <Description>Sync Data with DSTIME</Description>
      <Keywords>DSTIME, data sync</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="OBJ.PKG"/>
    </Module>
  </Document>
</Export>
